9c-campus-placement-flash-alert/workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "f1a2b3c4-1111-4a1a-8a1a-000000000001",
      "name": "Run Publish Job",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1120, 320]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YourSheetName"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "filtersUI": {
          "values": [
            { "lookupColumn": "Publish_Status", "lookupValue": "Pending" }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-1111-4a1a-8a1a-000000000002",
      "name": "Get Pending Entries",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-896, 320],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// ============================================================\n// Attach Department Token\n// Multi-agency pattern: each department publishes with its OWN\n// bearer token. n8n's built-in credential picker is static (one\n// credential per node) so for a per-row/per-department token we\n// build the Authorization header value here instead, and pass it\n// downstream as a field the HTTP Request node reads via expression.\n//\n// IMPORTANT (teaching note): in a real deployment these tokens\n// should NOT be hardcoded in a Code node like this either — pull\n// them from n8n environment variables or a credentials vault.\n// They are inlined here only as placeholders for the lab.\n// ============================================================\n\nconst TOKEN_MAP = {\n  CSE:  'REPLACE_WITH_CSE_DEPT_TOKEN',\n  ECE:  'REPLACE_WITH_ECE_DEPT_TOKEN',\n  MECH: 'REPLACE_WITH_MECH_DEPT_TOKEN',\n  CIVIL:'REPLACE_WITH_CIVIL_DEPT_TOKEN',\n  IT:   'REPLACE_WITH_IT_DEPT_TOKEN'\n  // ...extend up to all 10 departments, one unique token each\n};\n\nconst row = $input.item.json;\nconst deptCode = (row.Department_Code || '').toString().trim().toUpperCase();\nconst token = TOKEN_MAP[deptCode] || null;\n\nif (!token) {\n  throw new Error(`No token configured for department: ${deptCode}`);\n}\n\n// Build the JSON payload that will be POSTed to the display board server.\n// Kept as a plain object here; the HTTP Request node sends it as the JSON body.\nconst payload = {\n  entry_id: row.Entry_ID,\n  student_name: row.Student_Name,\n  roll_no: row.Roll_No,\n  department: deptCode,\n  company_name: row.Company_Name,\n  package_lpa: row.Package_LPA,\n  selection_date: row.Selection_Date,\n  display_message: row.Display_Message\n};\n\nreturn {\n  json: {\n    ...row,\n    department_code: deptCode,\n    auth_header_value: 'Bearer ' + token,\n    payload\n  }\n};"
      },
      "id": "f1a2b3c4-1111-4a1a-8a1a-000000000003",
      "name": "Attach Department Token",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-672, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://REPLACE_WITH_DISPLAY_BOARD_SERVER_URL/api/placement-alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.auth_header_value }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.payload) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "f1a2b3c4-1111-4a1a-8a1a-000000000004",
      "name": "Publish to Display Board",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-448, 320]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "YourSheetName"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Publish_Status": "Published"
          },
          "matchingColumns": ["Entry_ID"],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "f1a2b3c4-1111-4a1a-8a1a-000000000005",
      "name": "Mark as Published",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-224, 320],
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID", "name": "Google Sheets account" }
      }
    }
  ],
  "connections": {
    "Run Publish Job": {
      "main": [[{ "node": "Get Pending Entries", "type": "main", "index": 0 }]]
    },
    "Get Pending Entries": {
      "main": [[{ "node": "Attach Department Token", "type": "main", "index": 0 }]]
    },
    "Attach Department Token": {
      "main": [[{ "node": "Publish to Display Board", "type": "main", "index": 0 }]]
    },
    "Publish to Display Board": {
      "main": [[{ "node": "Mark as Published", "type": "main", "index": 0 }]]
    }
  },
  "pinData": {}
}
