3a-website-status-checker/Website_Uptime_Checker_Workflow (1).json
{
  "name": "Website Uptime Checker - Every 30 Min - Log Only When Down",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "1a111111-1111-1111-1111-111111111111",
      "name": "Schedule Trigger (Every 30 Min)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://vksingla.in",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "onError": "continueRegularOutput"
      },
      "id": "2a222222-2222-2222-2222-222222222222",
      "name": "Check Website Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "cond-status-missing",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "cond-status-error",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": 299,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "cond-has-error",
              "leftValue": "={{$json.error}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3a333333-3333-3333-3333-333333333333",
      "name": "Is Site Down?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c1111111-1111-1111-1111-111111111111",
              "name": "website",
              "type": "string",
              "value": "https://vksingla.in"
            },
            {
              "id": "c2222222-2222-2222-2222-222222222222",
              "name": "status",
              "type": "string",
              "value": "DOWN"
            },
            {
              "id": "c3333333-3333-3333-3333-333333333333",
              "name": "statusCode",
              "type": "string",
              "value": "={{$json.statusCode || 'No Response'}}"
            },
            {
              "id": "c4444444-4444-4444-4444-444444444444",
              "name": "checkedAt",
              "type": "string",
              "value": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}"
            },
            {
              "id": "c5555555-5555-5555-5555-555555555555",
              "name": "errorMessage",
              "type": "string",
              "value": "={{$json.error ? ($json.error.message || $json.error) : 'Site did not return a successful (2xx) response'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "4a444444-4444-4444-4444-444444444444",
      "name": "Prepare Down Log",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        880,
        200
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "PASTE_YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "={{$json.website}}",
            "Status": "={{$json.status}}",
            "StatusCode": "={{$json.statusCode}}",
            "CheckedAt": "={{$json.checkedAt}}",
            "ErrorMessage": "={{$json.errorMessage}}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "5a555555-5555-5555-5555-555555555555",
      "name": "Log Downtime to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1100,
        200
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "6a666666-6666-6666-6666-666666666666",
      "name": "Site is UP - No Action",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        880,
        440
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (Every 30 Min)": {
      "main": [
        [
          {
            "node": "Check Website Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Website Status": {
      "main": [
        [
          {
            "node": "Is Site Down?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Site Down?": {
      "main": [
        [
          {
            "node": "Prepare Down Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Site is UP - No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Down Log": {
      "main": [
        [
          {
            "node": "Log Downtime to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  }
}
