1a-good-morning-google-sheets/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "7ccbe7ae-968a-4312-868a-e5b3c380986f",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-160, -16]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "l1a-wa-msg",
              "name": "message",
              "value": "👋 Good Morning! n8n is working perfectly. Have a great day!",
              "type": "string"
            },
            {
              "id": "l1a-wa-ts",
              "name": "sent_at",
              "value": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ea62cc58-b247-41a6-a2a7-03458cfe0ff0",
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [64, -16]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "list",
          "cachedResultName": "YourSheetName",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID_HERE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Message": "={{ $json.message }}",
            "msgDate": "={{ $json.sent_at }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "msgDate",
              "displayName": "msgDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [288, -16],
      "id": "7e8cef2f-bd31-4a7c-b24e-58940a9685f7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          { "node": "Set Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          { "node": "Append row in sheet", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {}
}
